.info {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section {
  width: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 0px 20px 0px 0px;
}
